<div class="pt-12 pb-12 px-24 h-full bg-[url('/assets/image/image_fond.jpg')] bg-cover">
         <div class="flex flex-col h-full w-full justify-center items-center">
        <div class="flex flex-col h-full w-full justify-center items-center">
            <div class="grid grid-cols-3 gap-5 h-full w-full"> 
                    <div class="flex flex-col gap-5 h-full">
                        <div class="bgcase h-[30%]">
                            <div class="flex justify-start">
                            <p> Au-delà du portfolio </p>
                            </div>
                            <div class="h-full flex flex-col justify-center">
                                <p class="text-[20px]"> Apprenez en plus sur moi  </p>                                                 
                            </div>
                        </div>
                        <div class="bgcase h-[70%]">
                            <div class="flex justify-items-center">
                                <img src="assets/icon_design/star.svg" alt="" class="h-6 w-6 mr-5">
                                <h2> Savoir être </h2>
                            </div>
                            <div class="grid grid-cols-3 gap-1 h-full">
                                <div id="flexibilite" class="flex flex-col justify-center items-center gap-3">
                                    <img src="assets/icon_profil/flexi.svg" alt="" class="h-[50px] w-[50px]">
                                    <p class="icon-profil py-2 px-4">Flexibilité</p>
                                </div>
                            
                                <div id="teamplay" class="flex flex-col justify-center items-center gap-3">
                                    <img src="assets/icon_profil/team.svg" alt="" class="h-[50px] w-[50px]">
                                    <p class="icon-profil py-2 px-4">Team Play</p>
                                </div>
                            
                                <div id="rigueur" class="flex flex-col justify-center items-center gap-3">
                                    <img src="assets/icon_profil/rigeur.svg" alt="" class="h-[45px] w-[45px]">
                                    <p class="icon-profil py-2 px-4">Rigueur</p>
                                </div>
                            
                                <div id="idea" class="flex flex-col justify-center items-center gap-3">
                                    <img src="assets/icon_profil/idea.svg" alt="" class="h-[50px] w-[50px]">
                                    <p class="icon-profil py-2 px-4">Proposition</p>
                                </div>
                            
                                <div id="bienveillance" class="flex flex-col justify-center items-center gap-3">
                                    <img src="assets/icon_profil/bienveillance.svg" alt="" class="h-[50px] w-[75px]">
                                    <p class="icon-profil py-2 px-4">Bienveillance</p>
                                </div>
                            
                                <div id="autonomie" class="flex flex-col justify-center items-center gap-3">
                                    <img src="assets/icon_profil/autonomous.svg" alt="" class="h-[50px] w-[50px]">
                                    <p class="icon-profil py-2 px-4">Autonomie</p>
                                </div>
                            </div>
                        
                        </div>
                    </div>

                    <div class="flex flex-col gap-5 h-full">
                        <div class="bgcase h-[100%]">
                            
                            
                        </div>
                    </div>

                    <div class="flex flex-col gap-5 h-full">
                        <div class="bgcase h-[40%]">
                            <div class="flex flex-row justify-center items-center h-full gap-10">
                                <div class="flex flex-col justify-center items-center gap-2">
                                    <img src="assets/icon_profil/earth.svg" alt="" class="h-[50px] w-[50px]">
                                    <div class="ville"> </div>
                                   
                                </div>
                                <div class="flex flex-col justify-center items-center gap-2">
                                    <img src="assets/icon_profil/car.svg" alt="" class="h-[50px] w-[50px]">
                                    <p class="icon-profil py-1 px-3"> Acquis </p>
                                </div>
                                <div class="flex flex-col justify-center items-center gap-2">
                                    <img src="assets/icon_profil/age.svg" alt="" class="h-[50px] w-[50px]"> 
                                    <div class="age"></div>
                                </div>
                            
                            </div>
                        </div>
                        <div id="me" class="bgcase h-[60%] ">
                            <div class="flex justify-items-center">
                                <img src="assets/icon_design/star.svg" alt="" class="h-6 w-6 mr-5">
                                <h2> Mes hobbies </h2>
                            </div>
                            <div class="relative w-full h-full mb-5">
                                <!-- Badge 1 --> 
                                <div class="absolute top-[30%] left-5 bg-orange-500 text-white px-4 py-2 rounded-full shadow-md -rotate-12">
                                    🎮 Jeux
                                </div>
                        
                                <!-- Badge 2 -->
                                <div class="absolute top-[35%] right-5 bg-red-500 text-white px-4 py-2 rounded-full shadow-md rotate-6">
                                    🏋️ Sport
                                </div>
                        
                                <!-- Badge 3 -->
                                <div class="absolute bottom-6 left-[50%] bg-blue-500 text-white px-4 py-2 rounded-full shadow-md transform -translate-x-[50%] translate-y-6">
                                    🪇 Musique 
                                </div>
                        
                                <!-- Badge 4 -->
                                <div class="absolute bottom-9 left-2 bg-green-500 text-white px-4 py-2 rounded-full shadow-md -rotate-6">
                                    ✈️ Voyage
                                </div>
                        
                                <!-- Badge 5 -->
                                <div class="absolute top-[50%] right-[30%] bg-purple-500 text-white px-4 py-2 rounded-full shadow-md">
                                    📷 Photo
                                </div>
                        
                                <!-- Badge 6 -->
                                <div class="absolute bottom-[15%] right-2 bg-yellow-500 text-white px-4 py-2 rounded-full shadow-md rotate-12">
                                    📖 formation
                                </div>

                                <!-- Badge 6 -->
                                <div class="absolute bottom-[55%] right-[40%] bg-yellow-500 text-white px-4 py-2 rounded-full shadow-md rotate-3">
                                    🎊 Festival
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Menu -->
                <div class="menu flex flex-row justify-center gap-5 p-2 w-fit">
                    <div id="menu-home" class="menu-btn"> 
                        <img src="assets/icon_design/home.svg" alt="" >
                        <p class="menu-text"> Accueil </p>
                    </div>
                    <div id="menu-projects" class="menu-btn"> 
                        <img src="assets/icon_design/project.svg" alt="" >
                        <p  class="menu-text"> Projets </p>
                    </div>
                    <div id="menu-about" class="menu-btn border-white border-2"> 
                        <img src="assets/icon_design/profil.svg" alt="" >
                        <p  class="menu-text"> Profil </p>
                    </div>
                    <div id="menu-contact" class="menu-btn" > 
                        <img src="assets/icon_design/form.svg" alt="" >
                        <p  class="menu-text"> Contact </p>
                    </div> 
                </div>
            </div>
        </div>
</div>
