<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> François Talaban </title>
    
    <!-- css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link  href="/css/style.css" rel="stylesheet">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;500;800;900&family=Orbitron:wght@400;700;900&display=swap" rel="stylesheet">

</head>
<body class="text-white h-screen">
    <div class="h-full w-full bg-[url('/assets/image/image_fond.jpg')] bg-cover">
        <div class="py-12 px-24 h-full"> 
        <div class="grid grid-cols-4 gap-5 h-full w-full "> 
            <div class="flex flex-col gap-5 h-full">
                <div class="bgcase h-[10%] flex flex-row justify-center items-center ">
                    <h1 class="text-[24px] font-bold mr-2"> Administration </h1>
                    <img id="out" class="out" src="../assets/icon_design/out.svg" alt="">
                </div>
                <div class="bgcase h-[90%] flex justify-start">
                    <h2 class="mb-4s"> INFOS PROFIL </h2>
                    <div class="flex flex-col justify-items-center gap-4">
                        <div class="buttonsadmin mt-[5px] mb-[5px]">
                            <p> Poste </p>
                            <button class="buttonadmin modify-btn" data-type="poste">Modifier</button>
                        </div>
                        
                        <div class="buttonsadmin mt-[5px] mb-[5px]">
                            <p> Bio </p>
                            <button class="buttonadmin modify-btn" data-type="bio">Modifier</button>
                        </div>

                        <div class="buttonsadmin mt-[5px] mb-[5px]">
                            <p> Adresse mail </p>
                            <button class="buttonadmin modify-btn" data-type="email">Modifier</button>
                        </div>

                        <div class="buttonsadmin mt-[5px] mb-[5px]">
                            <p> Telephone </p>
                            <button class="buttonadmin modify-btn" data-type="telephone">Modifier</button>
                        </div>
                    
                        <div class="buttonsadmin mt-[5px] mb-[5px]">
                            <p> Age </p>
                            <button class="buttonadmin modify-btn" data-type="age">Modifier</button>
                        </div>
                    
                        <div class="buttonsadmin mt-[5px] mb-[5px]">
                            <p> Ville </p>
                            <button class="buttonadmin modify-btn" data-type="ville">Modifier</button>
                        </div>
                    
                        <div class="buttonsadmin mt-[5px] mb-[5px]">
                            <p> Photo profil </p>
                            <button class="buttonadmin modify-btn" data-type="photo">Modifier</button>
                        </div>
                    
                        <div class="buttonsadmin mt-[5px] mb-[5px]">
                            <p> CV pdf </p>
                            <button class="buttonadmin modify-btn" data-type="cv">Modifier</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section contact -->
            <div class="flex flex-col gap-5 h-full">
                <div id="contact" class="bgcase h-[80%] flex justify-start">
                    <div id="projets" class="flex justify-items-center justify-between">
                        <h2> Cométpences </h2> 
                    </div>
                    
                    <div class="buttonsadmin  mt-[10px]">
                        <button class="buttonadmin">Voir</button>
                        <button class="buttonadmin modify-btn" data-type="competences">Modifier</button>
                    </div>
            </div>

            <div id="contact" class="bgcase h-[20%]     justify-start">
                <div id="projets" class="flex justify-items-center justify-between">
                    <h2> Veille </h2>
                </div>
            <div class="buttonsadmin mt-[10px]">
                <button class="buttonadmin modify-btn" data-type="veille">Modifier</button>
            </div>
            </div>
        </div>
            
            <div class="flex flex-col gap-5 h-full">
                
                <!-- Section projets -->

                <div id="projects" class="bgcase  h-[100%] flex justify-start">
                    <div id="projets" class="flex justify-items-center justify-between">
                        <h2> Mes projets </h2>
                    </div>
                    <div class="buttonsadmin mt-[10px]">
                        <button class="buttonadmin">Ajouter</button>
                    </div>
                    <div class="card rounded-md flex items-center justify-between p-2">
                        <div class="flex items-center gap-5"> 
                             <p><strong>Portfolio</strong></p>
                        </div>
                        <button class="buttonadmin modify-btn" data-type="portfolio">Modifier</button>
                    </div>
                    

                </div>
                  
                
            </div>

            <div class="flex flex-col gap-5 h-full">

                <!-- Section expériences -->

                <div class="bgcase h-[60%]  justify-start">
                    <div id="competences" class="flex justify-center justify-between">
                        <h2> Mes expériences </h2>
                         </div>
                    <div class="buttonsadmin mb-[15px]  mt-[10px]">
                        <button class="buttonadmin modify-btn" data-type="experience"> Ajouter </button>
                    </div>
                    <div class="max-h-[350px] overflow-hidden">
                        <div class="h-full scrolbar overflow-y-auto">
                           
                        
                            <div class="rounded-md flex items-stretch">
                                <div class="flex flex-col w-[15%] justify-center items-center "> 
                                    <div class="h-1/3"></div>
                                    <image class="h-1/3 w-7" src="../assets/icon_design/row.svg"> </image>
                                    <div class="h-1/3 flex justify-center items-center">
                                        <div class="bg-black h-full w-1"></div>
                                    </div>
                                </div>
                                <div class="list w-[85%] p-2">
                                    <p class="exp-title"> Bachelor Concepteur Intégrateur DevOps </p>
                                    <p class="exp-text"> Sept 2023 - Today </p>
                                    <p class="exp-text"> EPSI TOULOUSE </p>
                                </div>
                            </div>
                            
                            <div class="rounded-md flex items-stretch">
                                <div class="flex flex-col w-[15%] justify-center items-center "> 
                                    <div class="h-2"> 
                                        <div class="bg-black h-full w-1"></div>
                                    </div>
                                </div>
                                <div class="w-[85%]"></div>
                            </div>
                            <div class="rounded-md flex items-stretch">
                                <div class="flex flex-col w-[15%] justify-center items-center "> 
                                    <div class="h-1/3"> 
                                        <div class="bg-black h-full w-1"></div>
                                    </div>
                                    <image class="h-1/3 w-7" src="../assets/icon_design/row.svg"> </image>
                                    <div class="h-1/3 flex justify-center items-center">
                                        <div class="bg-black h-full w-1"></div>
                                    </div>
                                </div>
                                <div class="list w-[85%] p-2">
                                    <p class="exp-title"> Bachelor Concepteur Intégrateur DevOps </p>
                                    <p class="exp-text"> Sept 2023 - Today </p>
                                    <p class="exp-text"> EPSI TOULOUSE </p>
                                </div>
                            </div>

                           
                           
                        </div>    
                    </div>
                </div>

                 <!-- Section education -->
                  
                <div class="bgcase h-[40%] max-h-[40%] justify-start">
                    <div id="competences" class="flex justify-center justify-between ">
                        <h2> Mes Diplômes </h2>
                       </div>
                    <div class="buttonsadmin mb-[15px] mt-[10px]">
                        <button class="buttonadmin modify-btn" data-type="diplome">Ajouter</button>
                        <button class="buttonadmin modify-btn" data-type="diplome">Modifier</button>
                    </div>
                    <div class="max-h-[100px] overflow-hidden">
                        <div class="h-full scrolbar overflow-y-auto">

                            <div class="rounded-md flex items-stretch">
                                <div class="flex flex-col w-[15%] justify-center items-center "> 
                                    <div class="h-1/3"></div>
                                    <image class="h-1/3 w-7" src="../assets/icon_design/row.svg"> </image>
                                    <div class="h-1/3 flex justify-center items-center">
                                        <div class="bg-black h-full w-1"></div>
                                    </div>
                                </div>
                                <div class="list w-[85%] p-2">
                                    <p class="exp-title"> Bachelor Concepteur Intégrateur DevOps </p>
                                    <p class="exp-text"> Sept 2023 - Today </p>
                                    <p class="exp-text"> EPSI TOULOUSE </p>
                                </div>
                            </div>

                            <div class="rounded-md flex items-stretch">
                                <div class="flex flex-col w-[15%] justify-center items-center "> 
                                    <div class="h-2"> 
                                        <div class="bg-black h-full w-1"></div>
                                    </div>
                                </div>
                                <div class="w-[85%]"></div>
                            </div>
                            <div class="rounded-md flex items-stretch">
                                <div class="flex flex-col w-[15%] justify-center items-center "> 
                                    <div class="h-1/3"> 
                                        <div class="bg-black h-full w-1"></div>
                                    </div>
                                    <image class="h-1/3 w-7" src="../assets/icon_design/row.svg"> </image>
                                    <div class="h-1/3 flex justify-center items-center">
                                        <div class="bg-black h-full w-1"></div>
                                    </div>
                                </div>
                                <div class="list w-[85%] p-2">
                                    <p class="exp-title"> Bachelor Concepteur Intégrateur DevOps </p>
                                    <p class="exp-text"> Sept 2023 - Today </p>
                                    <p class="exp-text"> EPSI TOULOUSE </p>
                                </div>
                            </div>
                            
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>

    <script src="../js/loadcontent.js"></script>  
    <script src="../js/loadhome.js"></script> 
    <script src="../js/loadlogin.js"></script> 
    <script src="../js/email.js"></script>
    <script src="../js/zoom-in.js"></script> 
    <script src="../js/fade.js"></script> 
    <script src="../js/loadCurrentFiles.js"></script>
    <script src="../js/updateFileName.js"></script>
    <script src="../js/modifModal.js"></script>
    <script src="../js/modifModalFormCheck.js"></script>
</body>
</html>
