<div class="h-full w-full bg-[url('/assets/image/image_fond.jpg')] bg-cover">
    <div class="py-12 px-24 h-full max-h-full relative">
        <div class="grid grid-cols-4 gap-5 h-full w-full overflow-hidden">
            <div class="flex flex-col gap-5 h-full">
                <div class="bgcase h-[30%] overflow-hidden">
                    <div class="flex justify-end">
                        <image src="assets/icon_design/cible.svg" alt="" class="h-6 w-6"/>
                    </div>
                    <div class="poste">
                        <p class="text-[20px]"> <strong> Développeur web  </strong> <br> en alternance <br> 1 semaine / 2 semaine </p>                                                 
                    </div>
                </div>
                <div id="about" class="bgcase open h-[40%] overflow-hidden">
                    <div class="flex justify-items-center justify-between">
                        <h2> A mon sujet </h2>
                        <img src="assets/icon_design/open.svg" alt="" class="h-6 w-6">
                    </div>
                    <div class="bio"> </div>

                </div>
                <div class="bgcase h-[15%] overflow-hidden" >
                    <div class="flex justify-end">
                        <image src="assets/icon_design/download.svg" alt="" class="h-6 w-6"/>
                    </div>
                    <div>
                        <h1 class="text-[20px] text-white font-bold"> Recommandation </h1>
                    </div>
                </div>

                <div class="bgcasecv h-[15%] overflow-hidden" onclick="cv()">
                    <div class="flex justify-end">
                        <image src="assets/icon_design/download.svg" alt="" class="h-6 w-6"/>
                    </div>
                    <div>
                        <h1 class="text-[20px] text-black font-bold"> Curriculum Vitae </h1>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-5 h-full overflow-hidden">

                <!-- Section prénom -->

                <div class="bgcase h-[20%] flex justify-center items-center">
                    <h1 class="text-[24px] font-bold"> François Talaban </h1>
                </div>

                <!-- Section photo profil -->

                <div class="bgcase h-[45%] photoprofil flex justify-center items-center">
                    <div class="h-[150px] w-[150px] rounded-full bg-[url('/assets/image/image_profil.png')] bg-cover bg-[10px_0px] "> </div>
                </div>

                <!-- Section contact -->
                
                <div id="contact" class="bgcase open h-[35%]">
                    <div class="flex justify-items-center justify-between">
                        <p class="font-bold"> Vous avez des <br> Question ? </p>
                        <img src="assets/icon_design/contact.svg" alt="" class="h-6 w-6">
                    </div>
                    <div>
                        <h1 class="text-[20px]" > Me <strong> contacter </strong> </h1>
                    </div>
                </div>
                
            </div>
            
            <div class="flex flex-col gap-5 h-full overflow-hidden">
                
                <!-- Section projets -->

                <div id="projects" class="bgcase open h-[55%] flex justify-start">
                    <div id="projets" class="flex justify-items-center justify-between">
                        <h2> Mes projets </h2>
                        <img src="assets/icon_design/open.svg" alt="" class="h-6 w-6">
                    </div>

                    <div class="card rounded-md flex justify-items-center justify-between p-2">
                        <div class="flex justify-items-center items-center" > 
                            <img class="mr-5" src="assets/icon_projects/portfolio.svg" alt="">
                            <p> <strong> Portfolio </strong>  </p>
                        </div>
                        <img src="assets/icon_design/fleche.svg" alt="">
                    </div>

                </div>
                  
 
                <div class="bgcase h-[45%]">
                    <div id="competences" class="flex justify-between items-center mb-4">
                        <h2> Mes compétences </h2>
                        <img src="assets/icon_design/synergie.svg" alt="" class="h-6 w-6">
                    </div>
                    <div class="flex flex-wrap competenceslist gap-5 justify-center items-center p-2">
                        <!-- Les compétences seront chargées dynamiquement ici par JavaScript -->
                    </div>

                </div> 
            </div>

            <div class="flex flex-col gap-5 h-full overflow-hidden">

                <!-- Section expériences -->

                <div class="bgcase h-[65%]  justify-start">
                    <div id="competences" class="flex justify-center justify-between mb-[15px]">
                        <h2> Mes expériences </h2>
                        <img src="assets/icon_design/experiences.svg" alt="" class="h-6 w-6">
                    </div>

                    <div class="max-h-[350px] overflow-hidden">
                        <div class="h-full experiencelist scrolbar overflow-y-auto">

                        </div>    
                    </div>
                </div>
                  
                 <!-- Section education -->
                  
                <div class="bgcase h-[35%] justify-start">
                    <div id="competences" class="flex justify-center justify-between mb-[15px]">
                        <h2> Mes Diplômes </h2>
                        <img src="assets/icon_design/school.svg" alt="" class="h-6 w-6">
                    </div>

                    <div class="max-h-[100px] overflow-hidden">
                        <div class="h-full diplomelist scrolbar overflow-y-auto">
                            
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div id="config" class="config absolute bottom-4 left-4">

        </div>
    </div>
</div>