<div class="py-12 px-24 h-full bg-[url('/assets/image/image_fond.jpg')] bg-cover">
        <div class="flex flex-col h-full w-full justify-center items-center">
            <div class="listprojets flex flex-col h-full w-full overflow-y-auto scrolbar gap-5"> 

            </div>

     
            <!-- Menu -->
        <div class="menu flex flex-row justify-center gap-5 p-2 w-fit">
            <div id="menu-home" class="menu-btn"> 
                <img src="assets/icon_design/home.svg" alt="" >
                <p class="menu-text"> Accueil </p>
            </div>
            <div id="menu-projects" class="menu-btn border-white border-2"> 
                <img src="assets/icon_design/project.svg" alt="" >
                <p  class="menu-text"> Projets </p>
            </div>
            <div id="menu-about" class="menu-btn"> 
                <img src="assets/icon_design/profil.svg" alt="" >
                <p  class="menu-text"> Profil </p>
            </div>
            <div id="menu-contact" class="menu-btn" > 
                <img src="assets/icon_design/form.svg" alt="" >
                <p  class="menu-text"> Contact </p>
            </div> 
        </div>
    </div>
</div>
